body{
    background: linear-gradient(to top,white,black,gray);
    margin-top: 160px;
}
h1{
    color: white;
}
img{
    height: 350px;
    width: 250px;
    margin-left: 585px;
    margin-top: 50px;
    }
input[type="submit"]
{
    height: 50px;
    width: 100px;
    background: black;
    color: white;
    margin-left: 30px;
    }
.div{
    margin-left: 610px;
    display: flex;
    margin-top:50px;
    margin-left: 690px;
    }